* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

#color-palete{
    width: 50%;
  margin: auto;
}

h1 {
    margin: 30px 30px;
}

.color {
    display: inline-block;
    height: 70px;
    width: 70px;
    border: 1px solid black;
    margin: 30px;
  }


.black {
    background-color: black;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.gray {
    background-color: gray;
}

.white {
   background-color: white;
}

#pixel-board {
  
    margin-left: 30px;
    font-size: 0;
    
  }

.pixel{
    background-color: white;
    height: 40px;
    width: 40px;
    border: 1px solid black;
    display: inline-block;
}

